* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin:5% auto;
}

.card {
    flex: 1;
    flex-direction: row !important;
    gap: 10px;
    --bs-card-border-color: none !important;
}

.card-title {
    text-align: center;
}

.card-body {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    width: 50%;
}

.container-horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin: 10% 0;
    padding: 8px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    .card {
        flex: 1;
        flex-direction: column !important;
    }

    .card-body {
        width: 100%;
    }
    
}

.report-icon {
    flex: 1;
    flex-direction: row !important;
    gap: 10px;
    --bs-card-border-color: none !important;
    float: right;
}

.report-icon i {
    padding: 0 10px;
    font-size: 1.5em;
}